/*

        HEADER

*/





/*

        MAIN

*/

.number {
        width: 6.25rem;
        height: 6.25rem;
        border: 1px solid black;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin: 5px;
}

.container {
        max-width: 80%;
        margin: 0 auto;
}
.sfondo{
        background-color: #083b4c;
}




/*

        FOOTER

*/




/*

        DEBUG

*/
